.contenedor-boton {
    display: flex;
    justify-content: center;
}
.boton {
    display: inline-block;
    width: 80%;
    padding: 0.5rem 2rem;
    text-align: center;
    color: $blanco;
    margin: 2rem 0;
}